version: "3.9"

networks:
  product-network:
    driver: bridge

services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: meubanco
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    networks:
      - product-network

  product-api:
    image: delduck/product-api:latest
    command: ["/wait-for-it.sh", "postgres:5432", "-t", "30", "--", "java", "-jar", "api.jar"]
    environment:
      DB_HOST: postgres
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    networks:
      - product-network